body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 0.1em;
        margin: 0.5em;
    }
    .container div{
        width: 33%;
        height: 33%;
    }
    .container div img{
        width: 100%;
        height: 100%;
    }


    .seguidores{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
    }
    .informacoes{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 65%;
        height: 65%;
        margin: 1em;
    }
    .perfil{
        width: 33%;
        height: 33%;
    }
    .perfil img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .container_perfil{
        display: flex;
        justify-content: space-around;
        
    }
    .editar_perfil{
        text-align: center;
        padding: 0.5em;
        background-color: rgb(192, 192, 192);
        color: blue;
        border-radius: 5px;
    }
    a{
        text-decoration: none;
    }
    .nome{
        margin: 0.5em;
        
    }